.sidebar #background {
  background: #112255;
}

tab-item tab-closebox {
  background: #FFFFFF55;
  border-radius: 5px;
}

tab-item {
  color: white;
  font-size: 11px;
  border: solid 6px #DDDDFF00;
  /*box-shadow: -50px 150px 100px #AAFFFF33;*/
}


tab-item tab-label {
  white-space: nowrap;
}

tab-item tab-twisty {
  margin-right: 0.2em;
  border-radius: 3px;
  box-shadow: 1px 1px 100px 15px white;
}

tab-item:not(:hover) tab-closebox {
  display: none;
}